
.typing {
    color: #fff;
    font-size: 0.9375rem;
    font-weight: 400;
    padding: 10px 0px 0px 10px;
    line-height: 1.625;
}

.dot {
    animation: dot-blink 1s infinite steps(1);
    opacity: 0;
}

.dot:nth-child(1) {
    animation-delay: 0s;
}

.dot:nth-child(2) {
    animation-delay: 0.2s;
}

.dot:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes dot-blink {
    50% {
        opacity: 1;
    }
}
